# Your local network IP
# ! DO NOT USE localhost or 127.0.0.1
HOST_IP=1.2.3.4
# The port where the dev-container-hooks server is running
HOST_PORT=1234
# The workspace home directory
LOCAL_WORKSPACE_DIR=/local/path/to/where/repos/are