# * Git GUI (git-gui command)
# The command that opens the local git GUI app (e.g. stree, fork etc.)
GIT_GUI=your_git_gui_command
# Arguments to pass to the command (comma-separated)
# ! DO NOT set it if not needed
GIT_GUI_ARGS=--your,--args
# Alias to customize the command (e.g. stree, fork etc.)
# ! DO NOT set it if not needed
GIT_GUI_ALIAS=git-gui